{literal}
<script type="text/javascript">
    function includeIdToButton(nodeId, module, token, url)
    {
        switch (module) {
            case 'device':
                runQuery(nodeId, 0, token, url);
                break;
            case 'networkDevice':
                runQuery(nodeId, 1, token, url);
                break;
        }
    }

    function parseToSend(data, id, type) {
        return JSON.stringify({
            query: data,
            variables: {
                "device": id,
                "type" : type
            }
        });
    }

    function sendAjaxRequest(method, url, data, contentType, token) {
        $.ajax({
            method: method,
            url: url,
            headers: {
                'X-AUTH-TOKEN': token
            },
            data: data,
            contentType: contentType,
            success: function (data) {
                injectToLMS(data);
            },
        });
    }

    let superQuery = `query ($device: Int!, $type: Int!){
                findOnu(device: $device, type: $type){
                    id
                  }
                }`;

    function runQuery(id, type, token, $url) {
        $fullUrl = $url + '/api/graphql';
        sendAjaxRequest("POST", $fullUrl, parseToSend(superQuery, parseInt(id), parseInt(type)), 'application/json', token);
    }

    function injectToLMS(result)
    {
        if(!result['data']['findOnu']){
            return;
        }

        let $onuId = result['data']['findOnu']['id'].split('/')[3];

        $(".omi-om-onu-button").show();
        $omiOnuId = $onuId;
    }
</script>
{/literal}