<a class="lms-ui-button lms-ui-link-button omi-om-onu-button" style="display: none" id="clone-netdev" href="xD">
    <img src="img/producer.gif" alt=""><span class="lms-ui-label">{trans("OltManager Onu")}</span>
</a>

<script type="text/javascript">
    <!--
    let searchParams = new URLSearchParams(window.location.search);

    let $omiNodeId = null;

    if(searchParams.has('id')){
        $omiNodeId = searchParams.get('id');
    }

    let $omiOMToken = '{$omioltmanagertoken}';
    let $omiOMUrl = '{$omioltmanagerurl}';
    let $omiOMDevice = '{$omioltmanagerdevice}';

    let $omiOnuId = null;

    let $omiParams = '{$omioltmanagerparams}';
    //-->
</script>

{include file="omijs.html"}

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            if($omiNodeId && $omiOMToken && $omiOMUrl && $omiOMDevice){
                includeIdToButton($omiNodeId, $omiOMDevice, $omiOMToken, $omiOMUrl);
            }
        });
    })(jQuery);
</script>