<!--// $Id$ //-->
{$xajax}

<style>
    .status-color-general {
        font-weight: bold;
    }

    .signal-color-general {
        font-weight: bold;
    }

    .status-color-level-0, .status-color-level-10 {
        color: #17a2b8 !important;
    }

    .status-color-level-1, .status-color-level-12 {
        color: #004b00 !important;
    }

    .status-color-level-2 {
        color: #ffc107 !important;
    }

    .status-color-level-3, .status-color-level-11 {
        color: #dc3545 !important;
    }

    .status-color-level-4 {
        color: #dc3545 !important;
    }
</style>

<table style="width: 100%" cellpadding="3" border="1">
    <tr class="dark info-hover">
        <td style="width: 100%; text-align: left; white-space: nowrap;" class="fall hand"
            onclick="ShowOrHideBox('omi-onu-panel-nodeinfo');">
            <img SRC="img/LMSOmiPlugin/olt_manager.ico" alt=""
                 style="max-height: 20px; max-width: auto;">
            <strong>{trans('OltManager customer ONU list')} (<span class="onu-counter-span">0</span>):</strong>
        </td>
    </tr>
    <tr id="omi-onu-panel-nodeinfo" style="display: none;">
        <td style="width: 100%;" class="fall">
            <table cellpadding="5" cellspacing="0" style="width: 100%;" class="lms-ui-tab-table lms-ui-tab-table-omi-onu-list">
                <tr class="dark">
                    <td class="fleftu" style="width: 57%;">
                        <strong>ID:</strong>
                        <br> Adres:
                    </td>
                    <td class="fleftu" style="border-left: 0px; width: 10%;">
                        MAC:<br>Serial:
                    </td>
                    <td class="fleftu" style="border-left:0px; width: 10%;">
                        Model:
                    </td>
                    <td class="fbt" style="width: 1%; white-space: nowrap; text-align: right;">
                        Fizyczny status:
                        <br>
                        Status połączenia:
                    </td>
                    <td class="fbt" style="width: 1%; white-space: nowrap;">
                        Sygnał ONU:
                        <br>
                        Sygnał OLT:
                    </td>
                    <td class="frightu" style="width: 1%;">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    let searchParams = new URLSearchParams(window.location.search);

    let $omiCustomerId = null;

    if (searchParams.has('id')) {
        $omiDeviceId = searchParams.get('id');
    }

    let $omiOMToken = '{$omioltmanagertoken}';
    let $omiOMUrl = '{$omioltmanagerurl}';

    let $omiOnuId = null;

    let $omiParams = '{$omioltmanagerparams}';

</script>

<script type="text/javascript">

    function getOnuCollection(deviceID, token, url) {
        runRequest(deviceID, token, url);
    }

    function injectToLMS(result) {

        console.log(result);

        if (!result) {
            return;
        }

        var $onuCollection = Object.values(result);

        console.log($onuCollection);

        $("span.onu-counter-span").html($onuCollection.length);

        changesTable = $(".lms-ui-tab-table-omi-onu-list");

        if ($onuCollection.length === 0) {
            changesTable.append("<tr class=\"lms-ui-tab-table-row\"><td><span>Brak dopisanych urządzeń ONU!</span></td></tr>");
        }

        let classes = ['lucid', 'light'];
        let classNow = 'lucid';

        $onuCollection.forEach(element => {

            let statusPhysicalTimeAgo = timeAgo(new Date(Date.parse(element['lastStatusDatetime'])));

            let mac = element['mac'] ? element['mac'] : '';
            let serial = element['serial'] ? element['serial'] : '';
            let model = element['model'] ? element['model'] : '';
            let lastStatus = element['lastStatus'] ? element['lastStatus'] : '';
            let lastOnlineStatus = element['lastOnlineStatus'] ? element['lastOnlineStatus'] : '';

            if(classNow === 'lucid') {
                classNow = 'light';
            } else {
                classNow = 'lucid';
            }

            changesTable.append(
                "<tr class=\"lms-ui-tab-table-row " + classNow + "\">" +
                "<td>" + element['address'] + "<br>" + element['locationAddress'] + "</td>" +
                "<td style=\"border-left: 0px;\">" + mac + "<br>" + serial + "</td>" +
                "<td style=\"border-left: 0px;\">" + model + "</td>" +
                "<td style=\"white-space: nowrap; text-align: right;\">" +
                "<span class=\"status-color-general status-color-level-" + element['lastStatusLevel'] + "\">" + lastStatus + "</span>(" + statusPhysicalTimeAgo + ")<br>" +
                "<span class=\"status-color-general status-color-level-" + element['lastOnlineStatusLevel'] + "\">" + lastOnlineStatus + "</span>" +
                "</td>" +
                "<td style=\"white-space: nowrap;\">" +
                "<span class=\"signal-color-general onu-signal-value\">" + parseFloat(element['lastOnuSignal']).toFixed(2) + "</span>(dbi)<br>" +
                "<span class=\"signal-color-general olt-signal-value\">" + parseFloat(element['lastOltSignal']).toFixed(2) + "</span>(dbi)" +
                "</td>" +
                "<td className=\"frightu\" style=\"width: 1%;\">&nbsp;</td>" +
                "</tr>");
        });

        updateSignals();

    }

    function runRequest(deviceID, token, url) {
        let url1 = url + '/onu/lms/get/onus?type=device&id=' + deviceID;

        $.ajax({
            method: 'GET',
            url: url1,
            headers: {
                'X-AUTH-TOKEN': token
            },
            data: '',
            contentType: 'application/json',
            success: function (data) {
                injectToLMS(data);
            },
            error: function (xhr, status, error) {
                if (error === 'Not Found') {
                    $("div#super-omi-table").append("<div class=\"lms-ui-tab-table-row\"><span style='font-size: larger'>Brak dopisanych urządzeń ONU.</span></div>");
                } else {
                    console.log(status);
                    console.log(error);
                }
            }
        });
    }

    function timeAgo(date) {
        const seconds = Math.floor((new Date() - date) / 1000);

        let interval = Math.floor(seconds / 31536000);
        if (interval > 1) {
            return interval + ' lat temu';
        }

        interval = Math.floor(seconds / 2592000);
        if (interval > 4) {
            return interval + ' miesięcy temu';
        }
        if (interval > 1) {
            return interval + ' miesiące temu';
        }

        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            return interval + ' dni temu';
        }

        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + ' godzin temu';
        }

        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            return interval + ' minut temu';
        }

        if (seconds < 10) return 'teraz';

        return Math.floor(seconds) + ' sekund temu';
    }

    function updateSignals() {

        let url1 = $omiOMUrl + '/setting/by_name/signal_value_to_alarm';
        let url2 = $omiOMUrl + '/setting/by_name/olt_signal_value_to_alarm';

        $.ajax({
            method: 'GET',
            url: url1,
            headers: {
                'X-AUTH-TOKEN': $omiOMToken
            },
            data: '',
            contentType: 'application/json',
            success: function (data) {
                if (data['value']) {
                    $('.onu-signal-value').each(function () {
                        var currentValue = parseFloat($(this).text());

                        if (currentValue < data['value']) {
                            $(this).css('color', 'red');
                            $(this).text(currentValue.toFixed(2));
                        } else {
                            $(this).css('color', 'green');
                        }
                    });
                }
            },
        });

        $.ajax({
            method: 'GET',
            url: url2,
            headers: {
                'X-AUTH-TOKEN': $omiOMToken
            },
            data: '',
            contentType: 'application/json',
            success: function (data) {
                if (data['value']) {
                    $('.olt-signal-value').each(function () {
                        var currentValue = parseFloat($(this).text());

                        if (currentValue < data['value']) {
                            $(this).css('color', 'red');
                            $(this).text(currentValue.toFixed(2));
                        } else {
                            $(this).css('color', 'green');
                        }
                    });
                }
            },
        });


    }

</script>

<script type="text/javascript">
    $(document).ready(function() {
        if ($omiDeviceId && $omiOMToken && $omiOMUrl) {
            getOnuCollection($omiDeviceId, $omiOMToken, $omiOMUrl);
        }
    });
</script>