<!--// $Id$ //-->
{$xajax}

<style>
    .status-color-general {
        font-weight: bold;
    }

    .general-omi-text {
        font-size: larger;
    }

    .status-color-level-0, .status-color-level-10 {
        color: #17a2b8 !important;
    }

    .status-color-level-1, .status-color-level-12 {
        color: #004b00 !important;
    }

    .status-color-level-2 {
        color: #ffc107 !important;
    }

    .status-color-level-3, .status-color-level-11 {
        color: #dc3545 !important;
    }

    .status-color-level-4 {
        color: #dc3545 !important;
    }
</style>

<div id="omionus" data-label="Lista onu klienta" class="lms-ui-tab-container lms-ui-sortable general-omi-text">

    <div class="lms-ui-tab-header lmsbox-titlebar" data-lmsbox-content="omi-onu-panel-nodeinfo">

        <div class="lms-ui-tab-header-cell">
            <img SRC="img/LMSOmiPlugin/olt_manager.ico" alt="" class="lms-ui-sortable-handle"
                 style="max-height: 20px; max-width: auto;">
            <strong>{trans('OltManager customer ONU list')} (<span class="onu-counter-span">0</span>):</strong>


        </div>
    </div>

    <div class="lms-ui-tab-contents lms-ui-multi-check assignmentpanel" id="omi-onu-panel-nodeinfo" style="">

        <div class="lms-ui-tab-table" id="super-omi-table">

            <div class="lms-ui-tab-table-row header">
                <div class="lms-ui-tab-table-wrapper col-5">
                    <div class="lms-ui-tab-table-wrapper col-2">
                        <div class="lms-ui-tab-table-column name">
                            <strong>ID:</strong>
                            <br> Adres:
                        </div>
                        <div class="lms-ui-tab-table-column description">
                            MAC:<br>Serial:
                        </div>
                    </div>
                    <div class="lms-ui-tab-table-column id">
                        Model:
                    </div>
                    <div class="lms-ui-tab-table-wrapper col-2">
                        <div class="lms-ui-tab-table-column id">
                            Fizyczny status:
                            <br>
                            Status połączenia:
                        </div>
                        <div class="lms-ui-tab-table-column id">
                            Sygnał ONU:
                            <br>
                            Sygnał OLT:
                        </div>
                    </div>
                </div>

                <!-- <div class="lms-ui-tab-table-column buttons">
                     &nbsp;
                 </div>-->
            </div>

        </div>

    </div>
    <script>
        if (getCookie("omi-onu-panel-nodeinfo") == "1") {
            $("#omi-onu-panel-nodeinfo").show();
        }
    </script>
</div>

<script type="text/javascript">
    <!--
    let searchParams = new URLSearchParams(window.location.search);

    let $omiCustomerId = null;

    if (searchParams.has('id')) {
        $omiCustomerId = searchParams.get('id');
    }

    let $omiOMToken = '{$omioltmanagertoken}';
    let $omiOMUrl = '{$omioltmanagerurl}';

    let $omiOnuId = null;

    let $omiParams = '{$omioltmanagerparams}';
    //-->

</script>

{include file="omiontlistboxjs.html"}

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            if ($omiCustomerId && $omiOMToken && $omiOMUrl) {
                getOnuCollection($omiCustomerId, $omiOMToken, $omiOMUrl);
            }
        });
    })(jQuery);
</script>