{literal}
<script type="text/javascript">

    function getOnuCollectionByCustomerId(customerID, token, url) {
        let param = '&ownerLmsId=' + customerID;
        runRequest(param, token, url);
    }

    function getOnuCollectionByDeviceId(deviceID, token, url) {
        let param = '&deviceLmsId=' + deviceID;
        runRequest(param, token, url);
    }

    function getOnuCollectionByNetworkDeviceId(deviceID, token, url) {
        let param = '&networkDeviceLmsId=' + deviceID;
        runRequest(param, token, url);
    }

    function runRequest(lastParam, token, url) {
        let url1 = url + '/api/v1/onu/' + $omiOnuLinkParams + lastParam;

        $.ajax({
            method: 'GET',
            url: url1,
            headers: {
                'X-AUTH-TOKEN': token
            },
            data: '',
            contentType: 'application/json',
            success: function (data) {
                injectToLMS(data);
            },
            error: function (xhr, status, error) {
                if (error === 'Not Found') {
                    $("div#super-omi-table").append("<div class=\"lms-ui-tab-table-row\"><span style='font-size: larger'>Brak dopisanych urządzeń ONU.</span></div>");
                } else {
                    console.log(status);
                    console.log(error);
                }
            }
        });
    }

    function injectToLMS(result) {

        console.log(result);

        if (!result['data']) {
            return;
        }

        if (!result['data']) {
            return;
        }

        let $onuCollection = Object.values(result['data']);

        $("span.onu-counter-span").html($onuCollection.length);

        changesTable = $("div#super-omi-table");

        if ($onuCollection.length === 0) {
            changesTable.append("<div class=\"lms-ui-tab-table-row\"><span>Brak dopisanych urządzeń ONU!</span></div>");
        }

        $onuCollection.forEach(element => {
            let onuId = element['id'];
            let macAddress = element['mac'] ? element['mac'] : '';
            let serialNumber = element['serial'] ? "(" + element['serial'] + ")" : '';
            let type = (element['type'] && element['type']['id']) ? element['type']['name'] : '';
            let typeReported = (element['typeReported'] && element['typeReported']['id']) ? element['typeReported']['name'] : type;
            let lastPhysicalStatusName = (element['lastOnuBasicPhysicalStatus'] && element['lastOnuBasicPhysicalStatus']['cause'] && element['lastOnuBasicPhysicalStatus']['cause']['level']) ? element['lastOnuBasicPhysicalStatus']['cause']['value'] : '';
            let lastPhysicalStatusLevel = (element['lastOnuBasicPhysicalStatus'] && element['lastOnuBasicPhysicalStatus']['cause'] && element['lastOnuBasicPhysicalStatus']['cause']['level']) ? element['lastOnuBasicPhysicalStatus']['cause']['level'] : '';
            let lastPhysicalStatusTime = (element['lastOnuBasicPhysicalStatus'] && element['lastOnuBasicPhysicalStatus']['cause'] && element['lastOnuBasicPhysicalStatus']['cause']['level']) ? element['lastOnuBasicPhysicalStatus']['datetime'] : '';
            let lastOnlineStatusName = (element['lastOnuBasicOnlineStatus'] && element['lastOnuBasicOnlineStatus']['cause'] && element['lastOnuBasicOnlineStatus']['cause']['level']) ? element['lastOnuBasicOnlineStatus']['cause']['value'] : '';
            let lastOnlineStatusLevel = (element['lastOnuBasicOnlineStatus'] && element['lastOnuBasicOnlineStatus']['cause'] && element['lastOnuBasicOnlineStatus']['cause']['level']) ? element['lastOnuBasicOnlineStatus']['cause']['level'] : '';
            let lastOnuSignalOnu = element['lastOnuSignal'] ? element['lastOnuSignal']['downOnuRx'] : '';
            let lastOnuSignalOlt = element['lastOnuSignal'] ? element['lastOnuSignal']['upOltRx'] : '';

            let signalExist = (element['lastOnuSignal'] && element['lastOnuSignal']['downOnuRx']) ? true : false;

            if (signalExist) {
                lastOnuSignalOnu = parseFloat(lastOnuSignalOnu).toFixed(2) + '</span>(dbi)';
                lastOnuSignalOlt = parseFloat(lastOnuSignalOlt).toFixed(2) + '</span>(dbi)';
            } else {
                lastOnuSignalOnu = 'Brak</span>';
                lastOnuSignalOlt = 'Brak</span>';
            }

            let locationAddress = "";
            if (element['locationAddress']) {
                if (element['locationAddress']['city']) {
                    locationAddress += element['locationAddress']['city'] + ' ';
                }
                if (element['locationAddress']['street']) {
                    locationAddress += element['locationAddress']['street'] + ' ';
                }
                if (element['locationAddress']['house']) {
                    locationAddress += element['locationAddress']['house'];
                }
            }

            let statusPhysicalTimeAgo = timeAgo(new Date(Date.parse(lastPhysicalStatusTime)));

            let onuLink = "<div class=\"lms-ui-tab-table-row\" data-target-url=\"" + $omiOMUrl + "/onu/" + onuId + $omiParams + "\">\n";

            if($ominewTab){
                onuLink = "<div class=\"lms-ui-tab-table-row\" onclick=\"window.open('" + $omiOMUrl + "/onu/" + onuId + $omiParams + "', '_blank')\">\n";
            }

            changesTable.append(onuLink +
                "                <div class=\"lms-ui-tab-table-wrapper col-5\">\n" +
                "                    <div class=\"lms-ui-tab-table-wrapper col-2\">\n" +
                "                        <div class=\"lms-ui-tab-table-column name\">\n" +
                "                            <strong>" + element['address'] + "</strong>\n" +
                "                            <br> " + locationAddress +
                "                        </div>\n" +
                "                        <div class=\"lms-ui-tab-table-column description\">\n" +
                "                            " + macAddress + "<br>" + serialNumber +
                "                        </div>\n" +
                "                    </div>\n" +
                "                    <div class=\"lms-ui-tab-table-column id\">\n" +
                "                        " + typeReported +
                "                    </div>\n" +
                "                    <div class=\"lms-ui-tab-table-wrapper col-2\">\n" +
                "                        <div class=\"lms-ui-tab-table-column id\">\n" +
                "                            <span class=\"status-color-general status-color-level-" + lastPhysicalStatusLevel + "\">" + lastPhysicalStatusName + "</span>" + ' (' + statusPhysicalTimeAgo +
                "                            )<br>\n" +
                "                            <span class=\"status-color-general status-color-level-" + lastOnlineStatusLevel + "\">" + lastOnlineStatusName + "</span>" +
                "                        </div>\n" +
                "                        <div class=\"lms-ui-tab-table-column id\">\n" +
                "                            <span class='signal-color-general onu-signal-value'>" + lastOnuSignalOnu +
                "                            <br>\n" +
                "                            <span class='signal-color-general olt-signal-value'>" + lastOnuSignalOlt +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>");
        });

        updateSignals(result['configuration']);

    }

    function timeAgo(date) {
        const seconds = Math.floor((new Date() - date) / 1000);

        let interval = Math.floor(seconds / 31536000);
        if (interval > 1) {
            return interval + ' lat temu';
        }

        interval = Math.floor(seconds / 2592000);
        if (interval > 4) {
            return interval + ' miesięcy temu';
        }
        if (interval > 1) {
            return interval + ' miesiące temu';
        }

        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            return interval + ' dni temu';
        }

        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + ' godzin temu';
        }

        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            return interval + ' minut temu';
        }

        if (seconds < 10) return 'teraz';

        return Math.floor(seconds) + ' sekund temu';
    }

    function updateSignals(configuration) {

        let signalValueToAlarm = configuration['signal_value_to_alarm'];
        let oltSignalValueToAlarm = configuration['olt_signal_value_to_alarm'];

        if (signalValueToAlarm) {
            $('.onu-signal-value').each(function () {
                if($(this).text() === 'Brak') {
                    $(this).css('color', 'red');
                    return;
                }
                var currentValue = parseFloat($(this).text());

                if (currentValue < signalValueToAlarm) {
                    $(this).css('color', 'red');
                    $(this).text(currentValue.toFixed(2));
                } else {
                    $(this).css('color', 'green');
                }
            });
        }

        if (oltSignalValueToAlarm) {
            $('.olt-signal-value').each(function () {
                if($(this).text() === 'Brak') {
                    $(this).css('color', 'red');
                    return;
                }
                var currentValue = parseFloat($(this).text());

                if (currentValue < oltSignalValueToAlarm) {
                    $(this).css('color', 'red');
                    $(this).text(currentValue.toFixed(2));
                } else {
                    $(this).css('color', 'green');
                }
            });
        }


    }

</script>
{/literal}